{% extends "_base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}
{% trans "Confirm Email Address" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Confirm Email Address" %}</h1>
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        <p>
            {% blocktrans with confirmation.email_address.email as email %}
                Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.
            {% endblocktrans %}
        </p>
        <form action="{% url "account_confirm_email" confirmation.key %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">{% trans "Confirm" %}</button>
        </form>
    {% else %}
        {% url "account_email" email_url %}
        <p>
            {% blocktrans %}
                This confimration link is invalid or expired.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock content %}